# --- Python build & cache files ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.env/
.venv/
env/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Mac OS finder metadata
.DS_Store

# Logs
*.log

# SQLite databases (if you generate them locally)
*.sqlite
*.db

# VSCode
.vscode/

# Temp directories
tmp/
temp
data/
